<!--List everything and give the option to add each individual thing-->
<div class="row">
  <div class="col col-md-8">
    <h6>Stores</h6>
    <% @stores.each() do |store| %>
      <div class="row">
        <div class="col-xs-3">
          <li>
            <form action="/store/<%=store.id%>/view" method="post">
              <button class="noborder" type="submit"><%= store.name %></button>
            </form>
          </li>
        </div>
        <div class="col-xs-9">
          <form action="/store/<%=store.id%>/edit" method="post">
            <input name="_method" type="hidden" value="patch">
            <input type="text" name="edit" placeholder="Change Store Name">
            <button type="submit">Edit</button>
          </form>
          <form action="/store/<%=store.id%>/delete" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col col-md-4">
    <h6>Brands</h6>
    <% @brands.each() do |brand| %>
      <div class="row">
        <div class="col-xs-12">
          <li><a href="/brand/<%= brand.id %>"><%= brand.name %></a></li>
        </div>
      </div>
    <% end %>
  </div>

</div>
